* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul,
  ol {
    list-style: none;
  }
  .container {
    max-width: 1400px;
    margin: auto;
  }
  body {
    background-color: #2b2b2b;
  }
  .cont {
    @extend %cont;
    h2 {
      color: #fff;
      font-size: 22px;
    }
    p {
      color: #fff;
      font-size: 16px;
    }
    img {
      vertical-align: middle;
    }
  }
